<div class="container">
  <div class="card-container">
    <div class="card-header">
      <div class="row">
        <h4 class="col-10 text-center">Pokemons</h4>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Pokemon</th>
            <th>Favoritar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pokemon of pokemons">
            <td>{{pokemon.name}}</td>
            <td><button id="btnFavoritar" class="btn btn-danger" (click)="favoritar(pokemon.name)">Favoritar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row btnsFooter">
    <button id="btnAnterior" class="btn btn-primary" (click)="previousPage()">Anterior</button>
    <button id="btnProximo" class="btn btn-primary" (click)="nextPage()">Próximo</button>
  </div>
</div>