<div class="container">
  <div class="card-container">
    <div class="card-header">
      <div class="row">
        <h4 class="col-10 text-center">Pokemons</h4>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Pokemon</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Buba</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row btnsFooter">
    <button id="btnAnterior" class="btn btn-primary">Anterior</button>
    <button id="btnProximo" class="btn btn-primary">Próximo</button>
  </div>
</div>